<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度新闻列表</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <% 
                    news.forEach(item => 
                {%>

                        <li>
                            <a href="<%= item.url %>">
                                <%= item.title %>
                            </a>
                            <p><%= helper.relative(item.time) %></p>
                        </li>
                <% 
                    })
                 %>
            </div>
        </div>
    </div>
</body>
</html>